@tailwind base;
@tailwind components;
@tailwind utilities;

.pointer-events-none {
  pointer-events: none;
}

.hide-scrollbar {
    scrollbar-width: none; 
    -ms-overflow-style: none;
  }
  
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}


